.columns {
    padding-top: 30px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.column {
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-radius: 10px;
    color: #222;
    width: 27%;
    background-color:#222 !important;
}

.colTextAndButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.addGlyph {
    display: flex;
    color:white;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    padding-top: 22px;
    
}

.columnHeader {
    color: white;
}

.taskList {
    color: white !important;
    margin-left: -5px;
    overflow-y: auto;
    max-height: 480px;
}

.olCl {
    color:white;    
}

.removeGlyph {
    text-decoration: none !important;
    color: #350edf !important;
}

.removeGlyph:hover {
    text-decoration: none !important;
    color: firebrick !important;
}

a {
    cursor: pointer;
    color: #b4ec5c !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color:#b4ec5c7a !important;
}

.taskLi {
    text-align: left;

}
 
/* width */
.taskList::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.taskList::-webkit-scrollbar-track {
    background: #222; 
}
 
/* Handle */
.taskList::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.taskList::-webkit-scrollbar-thumb:hover {
    background: #555; 
}




/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}