.task {
    display: inline;
    height: 400px;
    color:#222;
    background-color: #222;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    top: 20px;
    text-align: left;
}

.taskHeader {
    color: white;
    padding-top: 25px;
    text-align: center;
}

.taskDescription {
    color: white;
    padding-top: 20px;
    padding: 40px;
}

.buttons {
    padding-top: 20px;
    color: #222;
}

.form-group {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

#name {
    width: 200px;
}

#status {
    width: 200px;
}

.addGlyph {
    display: block;
    color:white;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    padding-top: 22px;
}

.taskDetails {

}

.glyphs {
    display:flex;
    margin-top: 45px;
    justify-content: flex-end;
    margin-right:40px;
    color: white;
}

.glyphicon-trash {
    padding:10px;
}

.glyphicon-pencil {
    padding:10px;
}